@import "vendors/slick/slick.min.css";
@import "vendors/fonts/font-phosphor/css/phosphor.min.css";
@import "vendors/fonts/tuesday-night/stylesheet.min.css";
@import "themes";
@import "themes.css";
@import "select-input.css";
.hint-info {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #17a2b8;
}
